#!/usr/bin/env sh
{{ template "sh-req-command" "git" -}}
{{ template "sh-req-command" "zsh" -}}
## Update zinit
if [ ! -f {{ joinPath .xdg.data "zinit/zinit.git/.git/FETCH_HEAD" }} ];then
	{{ template "skip" -}}
	{{ template "emph" "zinit" -}}
	printf "is disabled.\n"
else
	lastUpdated=$(stat -L --format %Y {{ joinPath .xdg.data "zinit/zinit.git/.git/FETCH_HEAD" }})
	duration={{ .update.interval }}
	{{ template "sh-last-updated" "zinit"}}
	[[ $skip -eq 0 ]] && git --git-dir={{ joinPath .xdg.data "zinit/zinit.git/.git" }} pull origin main
fi
exit 0
