#!/usr/bin/env sh

{{- if index . "krewPackages" }}

source $HOME/.profile
if ! command -v kubectl &> /dev/null; then
  {{ template "skip" -}}
  {{ template "emph" "kubectl" -}}
  printf " is not installed.\n"
else
  export KREW_ROOT={{ joinPath .xdg.data "/krew" | quote }}
  export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
  krew install -v 0 {{ .krewPackages | join " " }}
fi
{{ end -}}
