#!/usr/bin/env sh

sh <(curl -L https://nixos.org/nix/install){{- if .nixOs.enableDaemon }} --daemon {{- end }}

echo source \$HOME/.nix-profile/etc/profile.d/nix.sh >> $HOME/.profile

source $HOME/.profile

nix-env -iA {{ .nixOs.packages | join " " }}
