# prettier-ignore
encryption: gpg
gpg:
  symmetric: true
pinentry:
  command: /usr/bin/pinentry-tty
diff:
  exclude:
    - scripts
  pager: diff-so-fancy
git:
  autoCommit: true
  autoPush: true
data:
  env:
    wsl: {{ .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
  editor: /usr/sbin/nvim
  shell: zsh
  zsh:
    prompt: p10k # possible values starship, p10k
  xdg:
    config: {{ joinPath .chezmoi.homeDir ".config" }}
    cache: {{ joinPath .chezmoi.homeDir ".cache" }}
    data: {{ joinPath .chezmoi.homeDir ".local/share" }}
  tools:
    - sdkman
    - azcli
    - GWSL
  krewPackages:
    - allctx
    - ctx
    - debug-shell
    - deprecations
    - doctor
    - emit-event
    - explore
    - fuzzy
    - kubernetes-helm
    - kurt
    - modify-secret
    - multiforward
    - ns
    - pod-lens
    - restart
    - roll
    - who-can
  nixOs:
    enableDaemon: false
    packages:
      # essential
      - nixpkgs.neovim
      - nixpkgs.lsd
      - nixpkgs.git
      - nixpkgs.go
      - nixpkgs.fzf
      - nixpkgs.jq
      - nixpkgs.yq-go
      - nixpkgs.azure-cli
      - nixpkgs.kubectl
      - nixpkgs.krew
      - nixpkgs.kubelogin
      - nixpkgs.docker-compose
      - nixpkgs.direnv
      - nixpkgs.taskwarrior
      - nixpkgs.taskwarrior-tui
  lastupdated:
    gopkgs: 0
    kubectl: 0
    krewplugins: 0
  update:
    interval: 2days
